$body-bg: rgb(5, 1, 5);
$purple: rgb(162, 48, 255);
$theme-colors: (
  "purple": $purple,
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import 'node_modules/bootstrap-vue/src/index.scss';